.popup__form__error {
    min-height: 15px;
    width: 100%;
    max-width: 358px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    text-align: left;
}